table {
  table-layout: fixed;
}

th, td {
  width: 12em;
}

.datetime, .time {
  text-align: center;
}

.no_break_line {
  white-space: nowrap;
  overflow: hidden;
  width: 12em;
  margin-right: 0;
}

.login_form {
  display: inline-block;
  background-color: var(--bg-color-1);
  border-radius: 8px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.login_form a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

nav {
  margin-top: 0.5em;
}

nav ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 20%;
  min-width: 120px;
  max-width: 120px;
}

nav li:not(:last-child) {
  border-right: 2px solid #ddd;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a.current {
  color: #00B0F0;
  border-bottom: 2px solid #00B0F0;
}

nav a:hover, header a:hover {
  color: #F7CB4D;
  border-bottom: 2px solid #F7CB4D;
}
