th, td {
  width: 12em;
}

.datetime, .time {
  text-align: center;
}

.no_break_line {
  white-space: nowrap;
  overflow: hidden;
  width: 12em;
  margin-right: 0;
}

nav {
  margin-top: 0.5em;
}

nav ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 20%;
  min-width: 120px;
  max-width: 120px;
}

nav li:not(:last-child) {
  border-right: 2px solid #ddd;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a.current {
  color: #00B0F0;
  border-bottom: 2px solid #00B0F0;
}

nav a:hover, header a:hover {
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

.h_before_icon {
  display: inline;
  margin-right: 4px;
}

.icon {
  width: 16px;
}

.input_for_blockquote {
  width: 80%;
  max-width: 80%;
  min-width: 40%;
  min-height: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}
