<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aura Status Board</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
</head>
<body>
  <div id="vue_app">
    <header>
      <h1>Aura Status-Board</h1>
      <span class="aura_tile"></span>
      <nav>
        <ul>
          <li><router-link to="/">Signals</router-link></li>
          <li><router-link to="/gpgpus_info">GPGPUs Info</router-link></li>
          <li><router-link to="/whats_this">What's This?</router-link></li>
        </ul>
      </nav>
    </header>
    <article>
      <router-view></router-view>
    </article>
  </div>

  <hr>

  <footer>
    ryhoh, 2020-.
  </footer>

  <script type="text/x-template" id="hb-signals">
    <div>
      <h2>Heartbeat Signals</h2>
      <div v-show="errored">
        <p class="warn">
          Connection with the server has lost...
        </p>
      </div>
      <div v-show="loading">
        <p>
          Loading...
        </p>
      </div>
      <div v-show="!loading">
        <table>
          <tr>
            <th class="name">System name</th>
            <th class="datetime">Last signal (JST)</th>
            <th class="time">Past time</th>
          </tr>
          <tr v-for="(record, idx) in last_signal_ts" :key="record.name" v-bind:class="'bg' + idx % 2">
            <td class="name">{{ record.name }}</td>
            <td class="datetime">{{ record.timestamp | date2readable }}</td>

            <td class="time">
              <span v-bind:class="IsOver1Day(getPastSeconds(idx))">
                {{ getPastSeconds(idx) | secondsDiff2Readable }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="gpgpus-info">
    <div>
      <h2>GPGPUs Info</h2>
      <div v-show="errored">
        <p class="warn">
          Connection with the server has lost...
        </p>
      </div>
      <div v-show="loading">
        <p>
          Loading...
        </p>
      </div>
      <div v-for="(record, idx) in last_gpu_info" :key="record.name" v-show="!loading">
        <h3>{{ record.name }}</h3>
        <blockquote>
          <p class="code" style="white-space: pre">{{ record.detail }}</p>
        </blockquote>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="whats-this">
    <div>
      <h2>What's This?</h2>
      <span class="p_bar_1"></span>
      <div class="box_container">
        <span class="p_bar_2 box"></span>
        <p class="box"></p>
        <p class="box p_bar_main">
          This is a statuspage for systems under ryhoh's control.<br>
          Each system sends heartbeat signal regularly, so we can know alive/dead information.<br>
        </p>
      </div>
    </div>
  </script>

  <script src="/static/script.js"></script>

</body>
</html>
