/* template for rycery site */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --main:  #66b06a;
  --sub-0: #c5e1a5;
  --sub-1: #e6ee9c;
  --tile-0: 102, 187, 106;
  --tile-1: 156, 204, 101;
  --tile-2: 212, 225, 87;
  --caution: #f57f17;
  --warn: #c0392b;
}

body {
  font-family: 'IBM Plex Sans', 'Noto Sans JP', sans-serif;
  color: #111;
  background-color: #FFF;
}

/* Header */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  padding-left: 0.5em;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h3, h5 {
  border-left: 0.5em solid var(--main);
}

h2, h4, h6 {
  border-left: 0.5em solid var(--sub-0);
}

h1 {
  display: inline;
  position: relative;
  margin-right: 0.5em;
}

/* Paragraph */
p.rich {
  position: relative;
  margin-top: 0;
  padding-top: 1.25em;
  padding-left: 1.25em;
  display: inline-block;
}

p.rich::before, p.rich::after {
  content: '';
  position: absolute;
}

p.rich::before {
  background-color: var(--sub-0);
  left: 9px;
  top: 0px;
  width: 3px;
  height: calc(100% + 9px);
}

p.rich::after {
  background-color: var(--main);
  left: 0px;
  top: 9px;
  width: calc(100% + 9px);
  height: 3px;
}

blockquote p {
  background-color: #EEEEEE;
}

/* Table */
table {
  border-spacing: 5px;
}

th, td {
  padding: 5px;
}

th {
  color: #FAFAFA;
  font-size: 17px;
  font-weight: 500;
  padding: 4px;
}

th {
  background-color: var(--main);
}

tr.bg0 td {
  background-color: var(--sub-0);
}

tr.bg1 td {
  background-color: var(--sub-1);
}

/* Text Color */
.caution {
  color: var(--caution);
  font-weight: 800;
}

.warn {
  color: var(--warn);
  font-weight: 800;
}

.code {
  font-family: "Courier New", Consolas, monospace;
}

/* Tile */
.blink_tile {
  position: absolute;
  background-color: rgb(var(--tile-1));  /* a11 */
  width: 1em;
  height: 1em;
  animation: blink 10s linear infinite;
}

/* Boxing */
.box {
  float: left;
}

.box_container {
  overflow: hidden;
}

/* Animation */
@keyframes blink {
  0% {
  background-color: rgb(var(--tile-1), 0.8);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.4),
      1.2em 1.2em rgb(var(--tile-0), 0.2),
      1.2em   0em rgb(var(--tile-1), 0.8),
      2.4em 1.2em rgb(var(--tile-2), 0.6),
      2.4em   0em rgb(var(--tile-2), 0.0),
      3.6em 1.2em rgb(var(--tile-0), 0.6),
      3.6em   0em rgb(var(--tile-1), 0.4),
      4.8em 1.2em rgb(var(--tile-2), 1.0),
      4.8em   0em rgb(var(--tile-0), 0.2);
  }
  
  10% {
  background-color: rgb(var(--tile-1), 1.0);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.6),
      1.2em 1.2em rgb(var(--tile-0), 0.0),
      1.2em   0em rgb(var(--tile-1), 0.6),
      2.4em 1.2em rgb(var(--tile-2), 0.8),
      2.4em   0em rgb(var(--tile-2), 0.2),
      3.6em 1.2em rgb(var(--tile-0), 0.4),
      3.6em   0em rgb(var(--tile-1), 0.2),
      4.8em 1.2em rgb(var(--tile-2), 0.8),
      4.8em   0em rgb(var(--tile-0), 0.4);
  }
  
  20% {
  background-color: rgb(var(--tile-1), 0.8);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.8),
      1.2em 1.2em rgb(var(--tile-0), 0.2),
      1.2em   0em rgb(var(--tile-1), 0.4),
      2.4em 1.2em rgb(var(--tile-2), 1.0),
      2.4em   0em rgb(var(--tile-2), 0.4),
      3.6em 1.2em rgb(var(--tile-0), 0.2),
      3.6em   0em rgb(var(--tile-1), 0.0),
      4.8em 1.2em rgb(var(--tile-2), 0.6),
      4.8em   0em rgb(var(--tile-0), 0.6);
  }
  
  30% {
  background-color: rgb(var(--tile-1), 0.6);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 1.0),
      1.2em 1.2em rgb(var(--tile-0), 0.4),
      1.2em   0em rgb(var(--tile-1), 0.2),
      2.4em 1.2em rgb(var(--tile-2), 0.8),
      2.4em   0em rgb(var(--tile-2), 0.6),
      3.6em 1.2em rgb(var(--tile-0), 0.0),
      3.6em   0em rgb(var(--tile-1), 0.2),
      4.8em 1.2em rgb(var(--tile-2), 0.4),
      4.8em   0em rgb(var(--tile-0), 0.8);
  }
  
  40% {
  background-color: rgb(var(--tile-1), 0.4);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.8),
      1.2em 1.2em rgb(var(--tile-0), 0.6),
      1.2em   0em rgb(var(--tile-1), 0.0),
      2.4em 1.2em rgb(var(--tile-2), 0.6),
      2.4em   0em rgb(var(--tile-2), 0.8),
      3.6em 1.2em rgb(var(--tile-0), 0.2),
      3.6em   0em rgb(var(--tile-1), 0.4),
      4.8em 1.2em rgb(var(--tile-2), 0.2),
      4.8em   0em rgb(var(--tile-0), 1.0);
  }
  
  50% {
  background-color: rgb(var(--tile-1), 0.2);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.6),
      1.2em 1.2em rgb(var(--tile-0), 0.8),
      1.2em   0em rgb(var(--tile-1), 0.2),
      2.4em 1.2em rgb(var(--tile-2), 0.4),
      2.4em   0em rgb(var(--tile-2), 1.0),
      3.6em 1.2em rgb(var(--tile-0), 0.4),
      3.6em   0em rgb(var(--tile-1), 0.6),
      4.8em 1.2em rgb(var(--tile-2), 0.0),
      4.8em   0em rgb(var(--tile-0), 0.8);
  }
  
  60% {
  background-color: rgb(var(--tile-1), 0.0);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.4),
      1.2em 1.2em rgb(var(--tile-0), 1.0),
      1.2em   0em rgb(var(--tile-1), 0.4),
      2.4em 1.2em rgb(var(--tile-2), 0.2),
      2.4em   0em rgb(var(--tile-2), 0.8),
      3.6em 1.2em rgb(var(--tile-0), 0.6),
      3.6em   0em rgb(var(--tile-1), 0.8),
      4.8em 1.2em rgb(var(--tile-2), 0.2),
      4.8em   0em rgb(var(--tile-0), 0.6);
  }
  
  70% {
  background-color: rgb(var(--tile-1), 0.2);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.2),
      1.2em 1.2em rgb(var(--tile-0), 0.8),
      1.2em   0em rgb(var(--tile-1), 0.6),
      2.4em 1.2em rgb(var(--tile-2), 0.0),
      2.4em   0em rgb(var(--tile-2), 0.6),
      3.6em 1.2em rgb(var(--tile-0), 0.8),
      3.6em   0em rgb(var(--tile-1), 1.0),
      4.8em 1.2em rgb(var(--tile-2), 0.4),
      4.8em   0em rgb(var(--tile-0), 0.4);
  }
  
  80% {
  background-color: rgb(var(--tile-1), 0.4);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.0),
      1.2em 1.2em rgb(var(--tile-0), 0.6),
      1.2em   0em rgb(var(--tile-1), 0.8),
      2.4em 1.2em rgb(var(--tile-2), 0.2),
      2.4em   0em rgb(var(--tile-2), 0.4),
      3.6em 1.2em rgb(var(--tile-0), 1.0),
      3.6em   0em rgb(var(--tile-1), 0.8),
      4.8em 1.2em rgb(var(--tile-2), 0.6),
      4.8em   0em rgb(var(--tile-0), 0.2);
  }
  
  90% {
  background-color: rgb(var(--tile-1), 0.6);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.2),
      1.2em 1.2em rgb(var(--tile-0), 0.4),
      1.2em   0em rgb(var(--tile-1), 1.0),
      2.4em 1.2em rgb(var(--tile-2), 0.4),
      2.4em   0em rgb(var(--tile-2), 0.2),
      3.6em 1.2em rgb(var(--tile-0), 0.8),
      3.6em   0em rgb(var(--tile-1), 0.6),
      4.8em 1.2em rgb(var(--tile-2), 0.8),
      4.8em   0em rgb(var(--tile-0), 0.0);
  }
  
  100% {
  background-color: rgb(var(--tile-1), 0.8);
    box-shadow:
        0em 1.2em rgb(var(--tile-2), 0.4),
      1.2em 1.2em rgb(var(--tile-0), 0.2),
      1.2em   0em rgb(var(--tile-1), 0.8),
      2.4em 1.2em rgb(var(--tile-2), 0.6),
      2.4em   0em rgb(var(--tile-2), 0.0),
      3.6em 1.2em rgb(var(--tile-0), 0.6),
      3.6em   0em rgb(var(--tile-1), 0.4),
      4.8em 1.2em rgb(var(--tile-2), 1.0),
      4.8em   0em rgb(var(--tile-0), 0.2);
  }
}
