<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aura Status Board</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
</head>
<body>
    <h1>Aura Status Board</h1>
    <span class="tile"></span>
    <span class="aura_tile"></span>
    <table>
    <h2>Heartbeat Signals</h2>
        <tr>
            <th class="name">System name</th>
            <th class="datetime">Last signal (JST)</th>
            <th class="time">Past time</th>
        </tr>
        {% for tp in records %}
        {% set mod = loop.index % 2 %}
        <tr class="bg{{mod}}">
            <td class="name">{{ tp[0] }}</td>
            <td class="datetime">{{ tp[1].isoformat(' ', timespec='seconds') }}</td>

            <td class="time">
                {% if is_exceeded[loop.index - 1] %}
                <span class="warn">
                {% else %}
                <span>
                {% endif %}
                    {{ past_times[loop.index - 1] }}
                </span>
            </td>

        </tr>
        {% endfor %}
    </table>

    <h2>GPGPUs info</h2>
    <h3>takenaka_dl</h3>
    <blockquote>
        <p class="code">
            {% autoescape false %}
            {{ nvidia_smi | replace("\n", "<br />") }}
            {% endautoescape %}
        </p>
    </blockquote>

    <h2>What's this?</h2>
    <span class="p_bar_1"></span>
    <div class="box_container">
        <span class="p_bar_2 box"></span>
        <p class="box">
        <p class="box p_bar_main">
            This is a statuspage for systems under shirosha2's control.<br />
            Each system sends heartbeat signal regularly, so we can know alive/dead information.<br />
        </p>
    </div>

    <hr />

    <footer>Shirosha2, Sep. 2020</footer>
</body>
</html>